@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(132, 225, 173);
    margin: 0px;
}

header {
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, rgba(131,199,131,1) 29%,rgba(0,138,0,1) 63%,rgba(0,36,0,1) 100%);
}

nav {
    padding: 3px;
    text-align: left;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 15px 15px;
    padding: 30px;
    margin: 0px 150px 0px;
    text-align: left;
}

h2 {
    color: rgb(56, 113, 82);
}

h3 {
    background-color: rgb(219, 243, 229);
    color: rgb(33, 97, 63);
}

div { 
    border-radius: 15px 15px;
    background: linear-gradient(to bottom, rgba(0,138,0,1) 8%,rgba(180,221,180,1) 8%);
}

h4 {
    color: white;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
}

footer {
    background-color: rgb(26, 92, 56);
    color: rgb(240, 240, 240);
    text-align: center;
    padding: 1px;
    margin: 0px;
}
